
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) 
<nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a></li>
  </ul>
</nav>
 The routed views render in the <router-outlet>-->
<div id="sect1" class="cotainer">
    <div class="navbar">
      <div *ngIf = "blnDisplayMenu">
        <a class="active" routerLink="login" routerLinkActive="active">Log In</a>
        <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
        <a routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        <a class="active" routerLink="register" routerLinkActive="active">Register</a>
      </div>
     <!-- <a href="#">{{ userDisplayName }}</a>-->
      <div *ngIf="!blnDisplayMenu">
        <a routerLink="/home/device" routerLinkActive="active" ariaCurrentWhenActive="page">Devices</a>
        <a routerLink="/home/owner" routerLinkActive="active" ariaCurrentWhenActive="page">Owners</a>
        <a routerLink="/home/report" routerLinkActive="active" ariaCurrentWhenActive="page">Reports</a>
        <span class="button">
          <button type="button" (click) = "logOut()" mat-button>Log Out</button>
        </span>
      </div>
    </div>
    <div class="footer">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      </div>
</div>
<router-outlet></router-outlet>

<!--<app-login [error]="'Username or password invalid'" (menu)='open($event)'>Your Form With Error Message</app-login> -->